<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>分类页面</title>
  <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="../lib/mui/css/muie.css">
  <!-- 引入字体文件 -->
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../styles/category.css">
</head>

<body>
  <div class="layout">
    <div class="pyg_header">
      <!-- 使用mui提供的预设组件，input中的搜索框。要下载引入mui文件 -->
      <div class="mui-input-row mui-search">
        <input type="search" class="mui-input-clear" placeholder="">
      </div>
    </div>
    <div class="pyg_content">
      <div class="left">
        <ul>


        </ul>

      </div>
      <div class="right">
      <div class="rightList">

      </div>




      </div>

    </div>
    <div class="pyg_footer">
      <!-- 使用mui里面的tab bar 选项卡 -->
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="#tabbar">
          <span class="mui-icon mui-icon-home"></span>
          <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-chat">
          <span class="mui-icon mui-icon-list"></span>
          <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-contact">
          <span class="mui-icon-extra mui-icon-extra-cart "></span>
          <div class="mui-tab-label cart">购物车</div>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-map">
          <span class="mui-icon mui-icon-contact"></span>
          <span class="mui-tab-label">我的</span>
        </a>
      </nav>
    </div>
  </div>
  <script type='text/template' id='leftTemp'>
    {{each list value index}}
    <li class = '{{index==0?'active':''}}'><a href="# "data-id='{{value.cat_id}}'>{{value.cat_name}}</a></li>
   {{/each}}
  </script>
  <!-- 动态模板，生成右侧页面 -->
  <script type="text/template" id="rightCate">
    {{each children value index}}
    <div class="cate2">
        <div class="cate2_title">{{value.cat_name}}</div>
            <div class="cate2-content">
          {{each value.children v i}}
                <a href="goodslist.html?cid={{v.cat_id}}">
                  <img src="http://157.122.54.189:9094{{v.cat_icon}}" alt="">
                <div>{{v.cat_name}}</div>
              </a>
          {{/each}}
            </div>
            </div>
    {{/each}}
  </script>
  <script src="../lib/mui/js/mui.js"></script>
  <script src="../lib/zepto/zepto.js"></script>
  <script src="../lib/arttemplate/template-web.js"></script>
  <script src="../lib/iscroll/iscroll.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/category.js"></script>

</body>

</html>