<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
  <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="../lib/mui/css/muie.css">
  <!-- 引入字体文件 -->
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
  <div class="layout">
    <header id="header" class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">登陆</h1>
    </header>
    <div class="pyg_content">
      <form class="mui-input-group">
        <div class="mui-input-row">
          <label>用户名</label>
          <input type="text" class="mui-input-clear username" placeholder="请输入用户名" value="13112345678">
        </div>
        <div class="mui-input-row">
          <label>密码</label>
          <input type="password" class="mui-input-password password" placeholder="请输入密码" value="123456">
        </div>
        <div class="mui-button-row">
          <button type="button" class="mui-btn mui-btn-primary">确认</button>
          <button type="button" class="mui-btn mui-btn-danger">注册</button>
        </div>
      </form>
   
    </div>
    <div class="pyg_footer">
      <!-- 使用mui里面的tab bar 选项卡 -->
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="#tabbar">
          <span class="mui-icon mui-icon-home"></span>
          <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-chat">
          <span class="mui-icon mui-icon-list"></span>
          <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-contact">
          <span class="mui-icon-extra mui-icon-extra-cart "></span>
          <div class="mui-tab-label cart">购物车</div>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-map">
          <span class="mui-icon mui-icon-contact"></span>
          <span class="mui-tab-label">我的</span>
        </a>
      </nav>
    </div>
  </div>
 
  <script src="../lib/mui/js/mui.js"></script>
  <script src="../lib/zepto/zepto.js"></script>
  <script src="../lib/arttemplate/template-web.js"></script>

  <script src="../js/common.js"></script>
  <script src="../js/login.js"></script>
 
  

</body>

</html>