html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix::before {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.pyg_header {
  height: 45px;
  background-color: #eee;
  padding: 4px;
}
.pyg_content {
  flex: 1;
  overflow: scroll;
}
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  content: "";
  z-index: 100;
}
.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  font-size: 100px;
  color: #0094ff;
  content: "\f013";
  z-index: 101;
  animation: fa-spin 1s infinite linear;
}
.pyg_footer {
  display: flex;
}
.pyg_footer a {
  display: block;
  flex: 1;
  color: #333;
  border-right: 1px solid #ccc;
  text-align: center;
  color: #666;
}
.pyg_footer a > span {
  color: #666;
}
.pyg_footer a .mui-btn {
  width: 100%;
  height: 100%;
  top: 0px;
}
.pyg_footer .btn-addCart {
  background-color: rgba(255, 0, 0, 0.733);
}
.pyg_content {
  background-color: #fff;
  padding-top: 45px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.pyg_content .mui-scroll-wrapper {
  top: 45px;
  bottom: 100px;
}
.pyg_content .silderBox .mui-slider img {
  width: 100%;
  display: block;
}
.pyg_content .goodName {
  font-size: 13px;
  line-height: 30px;
  color: #666;
}
.pyg_content .goodPrice {
  font-size: 20px;
  color: orange;
}
.pyg_content .good-post-change {
  padding: 5px 10px;
}
.pyg_content .good-post-change li {
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid #666;
  padding: 5px 0;
}
.pyg_content .good-post-change li span:nth-of-type(1) {
  flex: 1;
  color: #bbb;
}
.pyg_content .good-post-change li span:nth-of-type(2) {
  flex: 5;
  color: #666;
}
.pyg_content .mui-table-view {
  background-color: #eee;
  margin: 0 5px;
}
.pyg_content #item2 {
  color: #333;
  background-color: #fff;
  padding: 0 10px;
}
.pyg_content #item2 h3 {
  line-height: 30px;
  border-bottom: 1px solid #bbbbbb;
}
.pyg_content #item2 .attr_content {
  display: flex;
  color: #333;
  font-size: 13px;
  margin-top: 5px;
}
.pyg_content #item2 .attr_content span:nth-of-type(1) {
  flex: 1;
}
.pyg_content #item2 .attr_content span:nth-of-type(2) {
  flex: 5;
}
