@import'./reset.less'; // 引入外部资源
@import './common.less';

.pyg_content {
  overflow: scroll;
  
  flex:1;
  background-color: #eee;
  >.pyg_nav {
    margin-top:10px;
    background-color: #fff;
    display:flex;
    >a{
      padding:15px;
    /* flex:1; */
  text-align: center;
    font-size:13px;
    color:#333;
      >img{
      width: 50%;
          display:inline-block;
      }
    }
  }
  .pyg_product {
    /* 清除浮动 */
    overflow: hidden;
    padding:10px ;
    >.pyg_pbox{
        > img {
          width: 100%; 
          display:block;
      }
      >.pyg_bbox{
        width: 49%;
        float:left;
        margin:10px 0px;
        background-color: #fff;

            >.pyg_good {
            width: 100%;

              >img {
                
                width: 100%;
                display: block;
              }

              >.pyg_desc {
                  font-size:12px;
                  color:#333;
                  // 给文字需要加高度，否则会影响浮动
                  height: 42px;
              }
              .pyg_price {
                color:red;
                font-size:16px;
              }

            }
            >a:nth-of-type(2){
              width: 80%;
              display:block;
              text-align:center;
              margin:5px auto;
              >span{
                display:block;
              }
            }
      }
      >.pyg_bbox:nth-of-type(even) {
        margin-left: 2%;
      }
  
      
    }
  }
}
